button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $border-size solid;
	border-radius: $border-radius;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color1;
	padding: 0.5em 1em;
	@include transition(0.3s ease);

	&:hover {
		background-color: $color__button-hover;
		color: $color__button-text;
	}

	&:active,
	&:focus {
		background-color: $color__button-focus;
		color: $color__button-text;
	}
}


.button-alt {
	background-color: $color__button-hover;
	color: $color__button-text;

	&:hover {
		background: $color__background-button;
		color: $color1;
	}

	&:active,
	&:focus {
		background: $color__background-button;
		color: $color1;
	}
}
