.page-template-page-about main { padding: 0; }
//about us
.about-intro {
  @include font-size(1.2);
  padding: $padding-main 0;
  -webkit-column-count: 2;
  -moz-column-count:    2;
  column-count:         2;

  @include bp-medium {
    -webkit-column-count: 1;
    -moz-column-count:    1;
    column-count:         1;
  }
}

// list of services
.services-list {
  float: left;
  width: 25%;
  margin: $padding-main 0;
  padding: 0 0 $padding-main 0;
  list-style-type: none;
  @include font-size(0.9);

  .title {
    font-family: $font__secondary;
    @include font-size(1.2);
    font-weight: 700;
  }

  @include bp-medium {
    width: 50%;
  }

  @include bp-small {
    width: 100%;
  }
}

// about services
.about-services {
  padding-bottom: ($padding-main * 2);
}

// employees
.person {
  width: 100%;
  padding: 200px 0;
  position: relative;
  @include clearfix();
  @include bp-medium {
    padding: 50px 0;
  }

  h3 {
    margin: 0;
  }
  h5 {
    margin-top: 0;
  }
}

.person-content {
  width: 50%;
  z-index: 1;
  position: relative;
  background: rgba(255,255,255,0.4);
  padding: $padding-main;

  @include bp-medium {
    width: 100%;
    padding: 0;
  }
}

// employee image
.ashleigh-image,
.jordan-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.ashleigh-image {
  background: url('./images/ash.jpg') no-repeat center left;

  @include bp-large {
    background-size: cover;
  }

  @include bp-medium {
    display: none;
  }
}

.jordan-image {
  background: url('./images/jordan.jpg') no-repeat top right;

  @include bp-large {
    background-size: cover;
  }

  @include bp-medium {
    display: none;
  }
}
