.about-page {
  .page-header {
      h1 {
        font-family: $font__primary;
        font-weight: 700;

        span {
          font-weight: 100;
        }
      }

      h2 {
        @include font-size(2);
      }
  }
}

//about us
.about-intro {
  @include font-size(1.2);
  padding: $padding-main 0;
  -webkit-column-count: 2;
  -moz-column-count:    2;
  column-count:         2;
}

// list of services
.services-list {
  float: left;
  width: 25%;
  margin: $padding-main 0;
  padding: 0 0 $padding-main 0;
  list-style-type: none;
  @include font-size(0.9);

  .title {
    font-family: $font__secondary;
    @include font-size(1.2);
    font-weight: 700;
  }
}

// about services
.about-services {
  padding-bottom: ($padding-main * 2);
}

// employees
.person {
  width: 50%;
  float: left;
  margin: ($padding-main * 2) 0;
  padding: 0;

  &:first-child {
    padding-right: ($padding-main * 2);
    border-right: $border-size dotted rgba(0,0,0,0.1);
    text-align: right;
  }

  &:nth-child(2) {
    padding-left: ($padding-main * 2);
  }

  .name,
  .role {
    margin: 0;
    padding: 0;
  }

  .name {
    font-family: $font__primary;
    font-weight: 100;
  }

  .role {
    @include font-size(1);
    padding-bottom: $padding-main;
  }

  .mug {
    border: $border-size solid $color5;
    border-radius: 50%;
    width: 175px;

    shape-outside: circle();
  }

  .mug-first {
    float: left;
    margin: 1em $padding-main 1em 0;
  }

  .mug-last {
    float: right;
    margin: 1em 0 1em $padding-main;
  }
}
