.page-blog {
  background-color: lighten($color1 , 10%);

  .container {
    overflow: auto;  // ie fix
  }

  .page-header {
    margin-bottom: $padding-main;
  }

  .nav-links {
    text-align: center;
    padding: $padding-main;

    a {
      text-decoration: none;
      color: $color2;

      &:hover,
      &:active,
      &:focus {
        color: $color4;
      }
    }
  }
}

.blog-post {
  padding: $padding-main;
  margin-top: ($padding-main * 2);
  background-color: $color1;
  color: $color__text-alt-dark;
  border-radius: 0 2em 0 2em;
  position: relative;

  a,
  h4 {
    color: $color3;
    text-decoration: none;
    transition: 0.4s ease;

    &:hover,
    &:active,
    &:focus {
      color: $color4;
    }
  }
}

.blog-post--content {
  width: 75%;
  margin: 2%;
  float: right;
  @include font-size(1.1);

  @include bp-medium {
    width: 100%;
    margin: $padding-main 0;
  }
}

.blog-post--image {
  width: 15%;
  margin: 2%;
  border-radius: 50%;
  border: $border-size solid $color5;
  float: left;
  shape-outside: circle();
  @include transition(0.4s ease);

  &:hover {
    border-color: $color4;
  }

  @include bp-medium {
    width: 75px;
    margin-top: -($padding-main * 2);
  }
}

.blog-post:nth-child(2n + 2) {
  border-radius: 2em 0 2em 0;

  .blog-post--image {
    float: right;
  }

  .blog-post--content {
    float: left;

  }
}

.blog-post--title {
  color: $color__text-alt;
  margin: 0;
  display: inline-block;
}

.blog-post--date {
  @include font-size(0.8);
  font-style: italic;
  margin-top: 0;
}
