.page-blog {
  background-color: darken($c_bg_dark, 10%);

  .page-header {
    margin-bottom: $padding-main;
  }

  .nav-links {
    text-align: center;
    padding: $padding-main;

    a {
      text-decoration: none;
      color: $c_link;

      &:hover,
      &:active,
      &:focus {
        color: $c_link_hover;
      }
    }
  }
}

.entry-header {
  padding: 275px $padding-main 200px $padding-main;
  text-shadow: 2px 2px 15px #000, -2px -2px 15px #000;

  @include bp-medium {
    padding: 150px $padding-main 50px $padding-main;
    h1 {
      @include font-size(2);
    }
  }

}

.entry-meta {
  color: $c_text_light;
}

.blog-post {
  padding: $padding-main;
  margin-top: $padding-main;
  color: darken($c_text_light, 20%);
  position: relative;
  @include transition(0.6s ease);
  @include clearfix();

  @include bp-medium {
    margin-top: ($padding-main * 2);
  }

  a,
  h4 {
    color: $c_text_light;
    text-decoration: none;
    transition: 0.4s ease;

    &:hover,
    &:active,
    &:focus {
      color: $c_link;
    }
  }
}

.blog-post--content {
  width: 77.5%;
  float: right;

  @include bp-medium {
    width: 100%;
    margin: $padding-main 0;
  }
}

.blog-post--image {
  width: 15%;
  margin-left: 2.5%;
  margin-top: 1em;
  border-radius: 50%;
  border: $border-size solid $c_text_light;
  float: left;
  @include transition(0.4s ease);

  &:hover {
    border-color: $c_link;
  }

  @include bp-medium {
    width: 75px;
    margin-top: -($padding-main * 2);
  }
}

.blog-post--title {
  color: $c_text_light;
  margin: 0;
  display: inline-block;
}

.blog-post--date {
  @include font-size(0.8);
  font-style: italic;
  margin-top: 0;
}
