
.page-blog {
  background-color: lighten($color1 , 10%);
  margin: 0;
  padding: $padding-main 0 ($padding-main * 2) 0;
}


.blog-post {
  padding: $padding-main;
  background-color: rgba($color1, 1);
  color: $color__text-alt-dark;
  width: 45%;
  float: left;
  margin: 5% 2.5%;
  min-height: 500px;
  position: relative;
  
  a {
    color: $color2;

    &:hover,
    &:active,
    &:focus {
      color: $color3;
    }
  }

  a:first-child {
    text-decoration: none;
  }
}

.blog-post--content {
  float: right;
  margin: 2%;
  @include font-size(1.1);
}

.blog-post--image {
  display: block;
  margin: -75px auto 0 auto;
  width: 150px;
  border-radius: 50%;
  border: $border-size solid $color5;
}

.blog-post--title {
  text-align: center;
  color: $color__text-alt;
  padding-top: 1em;
  margin: 0;
}

.blog-post--date {
  @include font-size(0.8);
  text-align: right;
  font-style: italic;
  position: absolute;
  bottom: $padding-main;
  right: $padding-main;
}

.blog-post-more {
  position: absolute;
  bottom: $padding-main;
  left: $padding-main;
}
