.site-footer {
  padding: ($padding-main * 2) 0 $padding-main 0;
  background-color: $color__background-dark;
  color: $color__text-alt;


}

.footer-card {
  width: 33.3333%;
  float: left;
  text-align: center;

  .fa {
    @include font-size(1.6);
    display: block;
  }

  a {
    text-decoration: none;
    display: block;
  }

  @include bp-medium {
    width: 100%;
  }
}
