.site-footer {
  padding: $padding-main 0;
  background-color: $color__background-dark;
  color: $color__text-alt;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    text-align: right;
  }

  .list-title {
    font-family: $font__secondary;
    font-weight: 700;
  }
}
