.site-footer {
  padding: ($padding-main * 2) 0 $padding-main 0;
  background-color: $color__background-dark;
  color: $color__text-alt;


}

.footer-card {
  width: 33.3333%;
  float: left;
  text-align: center;

  .fa {
    @include font-size(1.6);
    display: block;
  }

  a {
    text-decoration: none;
    display: block;
  }

  @include bp-medium {
    width: 100%;
  }
}

//bottom

.footer-bottom {
  border-top: 1px solid rgba(255,255,255, 0.1);
  margin-top: $padding-main;
  color: $color__text-alt-dark;
  @include font-size(0.9);

  a {
    color: $color__text-alt-dark;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color6;
    }
  }
}

.footer-bottom-copyright {
  float: left;
}

.footer-bottom-links {
  padding-top: 0.7em;
  @include font-size(1.2);
  float: right;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-left: 0.2em;
  }
}
