// hero

.home-hero {
  background-color: $color__background-body;
  background: url('./images/bg2.jpg') no-repeat center center;
  background-size: cover;
  padding: 150px 0 100px 0;
  position: relative;
  height: 100vh;
}

.hero-info {
  color: $color__text-alt;
  @include font-size(1.4);
  padding-top: 100px;
  width: 400px;
}

// services

.home-services {
  background: $color__background-dark;
  color: $color__text-alt;
  position: relative;
  padding: $padding-main 0;
  z-index: 2;

  h4 {
    color: $color__text-alt;
    @include font-size(1.4);
    text-align: center;
    padding: 0 $padding-main;

    a {
      text-decoration: none;
      font-weight: 700;
    }
  }

  h3 {
    color: $color__text-alt;
    margin-top: 0;
  }

  a {
    font-style: italic;
  }
}

.home-services-section {
  width: 33.333%;
  float: left;
  padding: $padding-main;

  &:first-child {
    padding-left: 0;
  }

  &:nth-child(3) {
    padding-right: 0;
  }

  p {
    color: $color__text-alt-dark;
    padding-right: ($padding-main * 2);
  }

  .bar {
    border-right: $border-size solid rgba(0,0,0,0.2);
  }
}

// portfolio

.home-portfolio {
  background: $color__background-dark;
  color: $color__text-alt;
  position: relative;
  padding-bottom: $padding-main;

  h3 {
    color: $color__text-alt;
    margin-top: 0;
  }
}

.home-portfolio-section {
  float: left;
  padding: $padding-main;

  p {
    color: $color__text-alt-dark;
    padding-right: ($padding-main * 2);
  }

  .bar {
    border-right: $border-size solid rgba(0,0,0,0.2);
  }

  &:first-child {
    width: 33.3333%;
    padding-left: 0;
  }

  &:nth-child(2) {
    width: 65%;
  }
}


// blog

.home-blog {
  background-color: lighten($color1 , 10%);
  margin: 0;
  padding: $padding-main 0 ($padding-main * 2) 0;
}


.home-post {
  padding: 0 $padding-main;
  margin-top: ($padding-main * 2);
  background-color: rgba($color2, 0.7);
  border-radius: $border-radius;

  a {
    text-decoration: none;
  }
}

.home-post--content {
  width: 75%;
  float: right;
  margin: 2%;
  @include font-size(1.1);
}

.home-post--image {
  margin: 2%;
  width: 15%;
  border-radius: 50%;
  border: $border-size solid $color5;
  float: left;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  @include transition(1s ease);
}

.home-post:hover .home-post--image {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.home-post:nth-child(2) .home-post--image {
  float: right;
}

.home-post:nth-child(2) .home-post--content {
  float: left;
}

.home-post--title {
  margin: 0;
}

.home-post--date {
  @include font-size(0.8);
  font-style: italic;
  margin-top: 0;
}
