//global
.section-title {
  color: rgba(255,255,255,0.6);
  text-align: center;
  @include font-size(1.6);
}

// hero

.home-hero {
  background-color: $color__background-dark;
  background: url('./images/hero.jpg') no-repeat center center;
  background-size: cover;
  padding: 150px 0 100px 0;
  position: relative;
  height: 100vh;
}

.hero-title,
.hero-info {
  color: $color__text-alt;
  text-shadow: 3px 3px 10px black;
}

.hero-title {
  font-family: $font__primary;
  font-weight: 700;
  padding-top: 100px;
  margin: 0;

  span {
    font-weight: 100;
  }
}

.hero-info {
  @include font-size(1.4);
  font-weight: 100;
  width: 400px;
}

// services

.home-services {
  background: $color__background-dark;
  color: $color__text-alt;
  padding: $padding-main 0;

  h4 {
    color: $color__text-alt;
    @include font-size(1.4);
    text-align: center;


    a {
      text-decoration: none;
      font-weight: 700;
    }
  }

  h3 {
    color: $color__text-alt;
    margin-top: 0;
  }

  a {
    font-style: italic;
  }
}

.home-services-section {
  width: 33.333%;
  float: left;
  padding: $padding-main;

  &:first-child {
    padding-left: 0;
  }

  &:nth-child(3) {
    padding-right: 0;
  }

  p {
    color: $color__text-alt-dark;
    padding-right: ($padding-main * 2);
  }

  .bar {
    border-right: $border-size dotted rgba(0,0,0,0.2);
  }
}


// blog

.home-blog {
  background-color: lighten($color1 , 10%);
  margin: 0;
  padding: $padding-main 0 ($padding-main * 2) 0;
}


.home-post {
  padding: 0 $padding-main;
  margin-top: ($padding-main * 2);
  background-color: rgba($color1, 1);
  color: $color__text-alt-dark;

  &:nth-child(2) {
    margin-top: 0;
  }

  a {
    color: $color2;

    &:hover,
    &:active,
    &:focus {
      color: $color3;
    }
  }

  a:first-child {
    text-decoration: none;
  }
}

.home-post--content {
  width: 75%;
  float: right;
  margin: 2%;
  @include font-size(1.1);
}

.home-post--image {
  margin: 2%;
  width: 15%;
  border-radius: 50%;
  border: $border-size solid $color5;
  float: left;
  shape-outside: circle();
}

.home-post:nth-child(3) .home-post--image {
  float: right;
}

.home-post:nth-child(3) .home-post--content {
  float: left;
}

.home-post--title {
  color: $color__text-alt;
  margin: 0;
}

.home-post--date {
  @include font-size(0.8);
  font-style: italic;
  margin-top: 0;
}
