.site-header {
  background-color: rgba($color1, 0);
  position: absolute;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  height: 75px;
  z-index: 3;
  // box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.nav-up {
    top: -75px;
}

.site-branding {
  float: left;

  h1 {
    margin: 0;
    padding-top: 17.5px;
    letter-spacing: 1px;
  }

  a {
    color: $c_text_light;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $c_link;
    }
  }
}

.site-title {
  font-family: $font__primary;
  font-weight: 700;
  @include font-size(1.6);
}

// navigation
.main-navigation {
  float: right;

	ul {
		list-style: none;
		margin: 0;
		padding: 12px 0;
	}

  li {
    display: inline-block;
    padding-left: 25px;
    padding-top: 15px;
  }

  a {
    color: $c_text_light;
    font-weight: 700;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 0.1em;

    &:hover {
      color: $c_link;
      border-bottom: 2px solid $c_link;
    }
  }
}

a.highlight:link {

}
