.container {
  width: $L;
  margin: 0 auto;

  @include bp-large {
    width: 90%;
  }
}

.container-sm {
  width: 800px;
  margin: 0 auto;
  @include font-size(1.2);

  @include bp-medium {
    width: 90%;
  }
}

//
// call-to-action
.call-to-action {
  background-color: rgba($color1, 0.1);
  background: url('./images/wood.png') repeat;
  padding: ($padding-main * 2) 0;

  h4,
  p {
    color: $color3;
  }

  h4 {
    margin: 0;
  }

}

.call-to-portfolio {
  text-align: center;

  button {
    margin: 5px;
  }
}

.call-to-action--left {
  float: left;

  @include bp-medium {
    padding-bottom: 50px;
  }
}

.call-to-action--right {
  float: right;
  text-align: right;
}

.call-to-action--left,
.call-to-action--right {
  width: 40%;

  @include bp-medium {
    width: 100%;
    float: none;
    text-align: center;
  }
}

// Post navigation text
.posts-navigation h2 {
  display: none;
}

//
.page-sub-head {

}
.page-title {
  font-family: $font__primary;
  @include font-size(1.4);
}
