.entry-header {
  background: $color__background-dark;
  color: $color__text-alt;
  text-align: center;
}

.entry-title {
  color: $color__text-alt;
  padding: 50px $padding-main $padding-main $padding-main;
  margin: 0;
}
