.page-header {
  background: $color__background-dark;
  padding: 150px $padding-main;
  text-align: center;

  h1,
  h2 {
    color: $color__text-alt;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: $font__primary;
    font-weight: 700;

    span {
      font-weight: 100;
    }
  }

  h2 {
    @include font-size(2);
  }
}

.entry-header {
  background: $color__background-dark;
  color: $color__text-alt;
  text-align: center;
}

.entry-title {
  color: $color__text-alt;
  padding: 150px $padding-main;
  margin: 0;
}
