.page-header,
.entry-header {
  background: $c_bg_dark;
  padding: 175px 0 100px 0;
  text-align: center;

  h1,
  h2 {
    color: $c_text_light;
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-bottom: -0.7em;
    color: darken($c_text_light, 20%);
  }

}
