// archive
.page-portfolio-archive {
  background-color: lighten($color1 , 10%);
}

.portfolio-archive-post {
  color: $color__text-alt-dark;

  &:nth-child(2n + 2) {
    background-color: rgba(0,0,0,0.2);
  }

  a {
    text-decoration: none;
  }

  h4 {
    margin-bottom: 0;
  }
}

.portfolio-archive-post--content,
.portfolio-archive-post--image {
  width: 50%;
  padding: $padding-main;
}

.portfolio-archive-post--content {
  float: right;
}

.portfolio-archive-post--image {
  float: left;
  padding-left: 0;
}

.portfolio-archive-post--title {
  color: $color__text-alt;
}

// post

.portfolio-post-header {
  background: $color__background-dark;
  padding: 150px $padding-main;
  text-align: center;

  h1 {
    color: $color__text-alt;
    padding: 0;
    text-shadow: 3px 3px 10px #000, -3px -3px 10px #000;
  }

  button {
    margin-bottom: 50px;
  }
}

.portfolio-post-left,
.portfolio-post-right {

}

.portfolio-post-left {
  width: 30%;
  float: left;
  padding-right: $padding-main;
}

.portfolio-post-right {
  width: 70%;
  float: right;
  padding-left: $padding-main;
}

// post excerpt

.portfolio-post-excerpt {
  @include font-size(1.3);
  background: $color3;
  border-radius: $border-radius;
  padding: $padding-main 0;

  p {
    margin: 0;
  }
}
