.post-type-archive-portfolio main { padding: 0; }

// archive
.page-portfolio-archive {
  background-color: lighten(darken($c_bg_dark, 10%), 15%);
}

.portfolio-archive-post {
  color: darken($c_text_light, 20%);
  text-align: center;

  &:nth-child(odd) {
    background-color: darken($c_bg_dark, 5%);
  }

  img,
  h4 {
    padding: 0;
    margin: 0;
  }
}

.portfolio-archive-post--title {
  color: $c_text_light;
}

.portfolio-archive-post--content {
  width: 70%;
  margin: 0 auto;
  padding: ($padding-main * 2) 0 $padding-main 0;

  @include bp-medium {
    width: 100%;
  }
}


// post

.portfolio-post-header {
  background: $c_bg_dark;
  padding: 275px $padding-main 200px $padding-main;
  text-align: center;

  @include bp-medium {
    padding: 150px $padding-main 50px $padding-main;
  }

  h1 {
    color: $c_text_light;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 15px #000, -2px -2px 15px #000;

    @include bp-medium {
      @include font-size(2);
    }
  }
}

.portfolio-post-left {
  width: 30%;
  float: left;
  padding-right: $padding-main;
}

.portfolio-post-right {
  width: 70%;
  float: right;
  padding-left: $padding-main;
}

.portfolio-post-left,
.portfolio-post-right {
  @include bp-medium {
    width: 100%;
    float: none;
    padding: $padding-main 0;
  }
}

// post excerpt

.portfolio-post-excerpt {
  @include font-size(1.3);
  background: $c_bg_light;
  padding: $padding-main 0;

  @include bp-medium {
    padding-bottom: 0;
  }
}
