.entry-header {
  padding: 300px $padding-main 100px $padding-main;
  text-shadow: 2px 2px 15px #000, -2px -2px 15px #000;

  @include bp-medium {
    padding: 150px $padding-main 50px $padding-main;
    h1 {
      @include font-size(2);
    }
  }

}

.entry-meta {
  color: white;
}
