$red:           #F44336;
$pink:          #E91E63;
$purple:        #9C27B0;
$deep-purple:   #673AB7;
$indigo:        #3F51B5;
$blue:          #2196F3;
$light-blue:    #03A9F4;
$cyan:          #00BCD4;
$teal:          #009688;
$green:         #4CAF50;
$light-green:   #8BC34A;
$lime:          #CDDC39;
$yellow:        #FFEB3B;
$amber:         #FFC107;
$orange:        #FF9800;
$deep-orange:   #FF5722;
$brown:         #795548;
$grey:          #9E9E9E;
$blue-grey:     #607D8B;
$black:         #212121;
$white:         #FAFAFA;


$color1: #272F32;
$color2: #9DBDC6;
$color3: #FFFFFF;
$color4: #FF3D2E;
$color5: #DAEAEF;
$color6: $yellow;

$color__background-body: $color3;
$color__background-dark: $color1;

$color__text-main: $color1;
$color__text-main-light: lighten($color__text-main, 20%);

$color__text-alt: $color3;
$color__text-alt-dark: darken($color__text-alt, 30%);

$color__link: $color4;
$color__link-hover: $color6;
$color__link-visited: $color__link;

$color__border-button: $color1;
$color__button-text: $color1;
$color__background-button: $color2;
$color__border-button-hover: $color4;
$color__border-button-focus: $color__border-button-hover;

$color__background-hr: $color2;


$process__box: rgba($color2 ,0.4);
$process__box-alt: rgba($color2 ,0.8);
$process__line: $color5;
$process__text: lighten($color1, 20%);
$process__header: $color1;
$process__date: $color1;
$process__icon-bg: $color2;
$process__icon: $color1;
