$white: lighten(#FFF8E1, 5%);
$black: darken(#4D4D52, 10%);
$yellow: #FFEB3B;
$orange: #FFC107;
$green: #8BC34A;
$green-dark: darken($green, 60%);
$grey: #828282;


$text-color: $white;
$background-color: $black;

$button-background: $green;
$button-text: $white;

$text-color-alt: $black;
$background-color-alt: $white;

$brand-color: $yellow;
$secondary-color: $orange;

$grey-color: $grey;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
