button {
  color: $button-text;
  font-size: 0.8em;
  cursor: pointer;
  background: $button-background;
  border: 1px solid $button-background;
  border-radius: 5px;
  padding: 1em 1.5em;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

//Dividers
.angled-divider,
.angled-divider:before {
  background: $white;
}

.angled-divider {
  position: relative;
  height: 3em;
}
.angled-divider:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 110%;
  height: 200%;
  bottom: 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.angled-divider-after,
.angled-divider-after:before {
  margin-top: -50px;
  margin-bottom: -35px;
}
