//Dividers
.angled-divider,
.angled-divider:before {
  background: $white;
}

.angled-divider {
  position: relative;
  height: 3em;
}
.angled-divider:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 110%;
  height: 200%;
  bottom: 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.angled-divider-after,
.angled-divider-after:before {
  margin-top: -50px;
  margin-bottom: -35px;
}
