// black / yellow
$c1: #F9C742;
$c2: #2B2929;
//

$black:         #212121;
$white:         #FAFAFA;

$color1: #272F32;
$color4: #4374FA;
$color5: #002F2F;

$color3: #FAFAFA;
$color2: #F9C742;
$color6: #222326;

// Backgrounds
$c_bg_light: $color3;
$c_bg_dark: $color6;

// Text and links
$c_text_dark: $color1;
$c_text_light: $color3;

$c_link: $color2;
$c_link_hover: $color4;

// Buttons and elements
$_c_btn_text_dark: $c_text_dark;
$c_btn_bg_dark: $color1;

$c_btn_bg_light: $c_link;
$_c_btn_text_light: $c_text_light;

$color__background-hr: $color2;

// Proccess page
$process__box: rgba(lighten(darken($c_bg_dark, 10%), 10%), 0.2);
$process__box-alt: rgba(lighten(darken($c_bg_dark, 10%) , 20%), 0.4);
$process__line: $color1;
$process__text: $color1;
$process__header: $color1;
$process__date: $color1;
$process__icon-bg: darken($c_bg_dark, 10%);
$process__icon: $color3;
