#slider {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: auto;
        text-align: center;
    }
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 30%;
    z-index: 10;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    color: $c_text_light !important;
    text-decoration: none;
    font-size: 3em;
    opacity: 0.5;
    cursor: pointer;
    @include transition(0.4s ease);
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
}

a.control_next {
    right: 0;
}
