/**
 * Page content
 */
.page {
  overflow: hidden;
}

.page-content {
  background-color: $background-color-alt;
  color: $text-color-alt;
  position: relative;
  z-index: 1;
}

.page-header {
  background-color: $background-color;
  color: $text-color;
}
.page-title {
  text-align: center;
  padding: 100px 0;
}
